.filter-btn{
    margin-right:30px;
    margin-bottom: 20px;
    margin-top: 30px;
    border:none;
    color:darkred;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 0.1s ease-in;
    background: none;
    text-transform: capitalize;
}
.filter-btn:hover
{
    border-bottom: 2px solid blue;
    transform: scale(1.1);
}
.selected{
    border-bottom: 1px solid blue;
}